/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4; /* Light background color */
    color: #444; /* Dark text color */
}

header {
    background-color: #f4f4f4; /* Light header background color */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 2px;
    color: #333; /* Dark header text color */
}

main {
    padding: 50px 20px;
    text-align: center;
}

.container {
    background-color: #fff; /* White container background color */
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Container box shadow */
    transition: transform 0.3s, background-color 0.3s; /* Add transition for hover effect */
    position: relative;
    overflow: hidden;
}

.container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.1s;
}

.container:hover:before {
    opacity: 1;
}

.container:hover {
    transform: translateY(-3px) scale(1.05); /* Apply hover effect - move up slightly and scale */
    background-color: #f4f4f4; /* Lighter background color on hover */
}

.container h2 {
    margin-bottom: 20px;
    font-size: 2.8em;
    color: #333; /* Dark container heading color */
    transition: color 0.3s; /* Add transition for text color */
}

.container:hover h2 {
    color: #666; /* Darker text color on hover */
}

.container p {
    color: #666; /* Medium gray container text color */
    font-size: 18px;
}

.container img {
    max-width: 100%; /* Ensure images are responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 15px;
    margin-top: 20px;
}

footer {
    background-color: #f4f4f4; /* Light footer background color */
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
    color: #333; /* Dark footer text color */
}

.button {
    background-color: #dbb28e; /* Nude button background color */
    color: #fff; /* White text color */
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Add transition for button */
}

.button:hover {
    background-color: #af4c4c; /* Darker button background color on hover */
    transform: translateY(-3px) scale(1.05); /* Apply hover effect - move up slightly and scale */
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.9);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #999; /* Light border color */
    width: 80%;
    max-width: 600px;
    border-radius: 15px;
    color: #333; /* Dark text color */
}

.close {
    color: #666; /* Medium close button color */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #333; /* Dark close button color on hover */
    text-decoration: none;
    cursor: pointer;
}

/* Futuristic button styles */
.futuristic-button {
    background-color: transparent;
    color: #333; /* Dark button text color */
    border: 2px solid #333; /* Dark button border color */
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.futuristic-button:hover {
    background-color: #dbb28e; /* Nude button background color on hover */
    color: #fff; /* White button text color on hover */
}

/* Location Info Styling */
.location-info {
    margin-bottom: 20px;
}

.location-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #dbb28e; /* Nude header text color */
}

.location-info p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #666; /* Medium gray text color */
}

.location-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #dbb28e; /* Nude header text color */
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc; /* Light gray border color */
}

table th {
    background-color: #dbb28e; /* Nude table header background color */
}

/* Container Styling */
.cccontainer {
    text-align: center;
    margin-bottom: 30px;
}

/* Slider Container Styling */
.slider-container {
    position: relative;
    width: 100%;
    max-width: 600px; /* Adjust max-width as needed */
    margin: 0 auto;
    overflow: hidden;
}

.slide {
    position: relative;
    width: 100%;
    text-align: center;
}

.slider-image {
    width: 100%;
    height: auto;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #dbb28e; /* Nude button color */
    font-size: 24px;
    z-index: 2;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
#style-toggle-button {
    position: fixed;
    top: 50px; /* Adjust as needed */
    right: 20px;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Add transition effect */
}

#style-toggle-button:hover {
    background-color: rgba(255, 255, 255, 1); /* Lighten background color on hover */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
}

/* Styling for Google Translate dropdown */
#google_translate_element {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

#google_translate_element select {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: #f4f4f4;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

#google_translate_element select:focus {
    outline: none;
}

#google_translate_element select option {
    padding: 5px;
    background-color: #fff;
}

#google_translate_element select option:hover {
    background-color: #f0f0f0;
}

#google_translate_element .goog-te-gadget-icon {
    display: none;
}

#google_translate_element .goog-te-combo {
    border: none;
    border-radius: 5px;
    box-shadow: none;
}

#google_translate_element .goog-te-combo-arrow {
    display: none;
}

#google_translate_element .goog-te-combo-label {
    display: none;
}

/* Futuristic and Professional Style for <li> and <ul> */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #f4f4f4; /* Light list item background color */
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif; /* Futuristic font */
    font-size: 16px;
    color: #333; /* Dark text color */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* List item box shadow */
    transition: all 0.3s ease;
}

li:hover {
    background-color: #e0e0e0; /* Lighter background color on hover */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

/* Additional section styles */
.main-content {
    padding: 20px;
}
